// Backgrounds, links
$primary-color: #30C1D7;

// Buttons, accent
$secondary-color: #8F519E;

// Accordions
$tertiary-color: #FBAA28;

// Body text, headers
$dark-color: #012F48;

// Backgrounds, headers
$light-color: #FDFDFD;
