// Backgrounds, links
$primary-color: #35B9C7;

// Buttons, accent, callout
$secondary-color: #AF4A8C;

// Accordions
$tertiary-color: #EEA339;

// Body text, headers
$dark-color: #012F48;

// Backgrounds, headers
$light-color: #FDFDFD;

// Color Mixin
@mixin colors($color, $bgcolor) {
  color: $color;
  background: $bgcolor;
}
