// Base stuff
@import
  'base/base',
  'base/colors',
  'base/typography';

.entry-content {
  // padding: 10px;
}


// Page headers
h1 {
  color: $light-color;
  font-weight: 900;
  text-align: center;
}

// callout header
h2 {
  color: $secondary-color;
  font-weight: 800;
  font-style: italic;
  text-align: center;
}

// accent header
h3 {
  font-weight: 700;
}

// main buttons
h4 a {
  color: $light-color;
  background: $secondary-color;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  display: block;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

// clinic buttons
h5 a {
  color: $primary-color;
  background: $light-color;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  display: block;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

// paragraphs
p {
  line-height: 1.6em;
}

// accordions
.accordion {
  width: 90%;
  margin: 0 auto;
}

.accordion-title {
  color: $dark-color;
  background: $tertiary-color;
  font-weight: 600;
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  display: block;
  text-align: left;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}

.accordion-title:after {
content: '\25BE';
float: right;
font-size: 25px;
margin-top: -8px;
transition: 0.2s;
}
.accordion-title.open:after {
-webkit-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
transform: rotate(-180deg);
}

.accordion-title:focus {
  outline: none;
}

.accordion-content {
  color: $dark-color;
  background: $tertiary-color;
  position: relative;
  bottom: 20px;
}

.accordion-content p {
  margin: 0;
  padding: 1em;
}

// header styling
.header{
  background: $primary-color;
  width: 100%;
  height: 200px;
  -webkit-clip-path: ellipse(90% 100% at 50% 0%);
  clip-path: ellipse(90% 100% at 50% 0%);
}

.bubble {
  background: $primary-color;
  width: 100%;
  -webkit-clip-path: ellipse(90% 100% at 50% 100%);
  clip-path: ellipse(90% 100% at 50% 100%);
  padding: 70px 0;
}

footer {
  background: $primary-color;
}
