// Base stuff
@import
  'base/base',
  'base/colors',
  'base/typography';

@import
  'components/btns',
  'components/accordions',
  'components/icons';

@import
  'layouts/slidenav',
  'layouts/header',
  'layouts/footer';


@media(min-width: 768px) {
  .entry-content{
    width: 80%;
    margin: 0 auto;
  }

  h4 a, h5 a{
    width: 70%;
  }
}

@media(min-width: 1024px) {
  .site-content {
    position: relative;
    margin-top: -10px;
    z-index: 1;
  }

  .entry-content{
    width: 65%;
    margin: 0 auto;
    background: white;
    padding: 3em 0;
  }

  .footer_content {
    width: 65%;
    margin: 0 auto;
  }

  #page {
    background: url('imgs/background.png');
    background-size: contain;
    background-attachment: fixed;
    position: relative;
  }
}
