.fa {
  font-size: 30px;
  color: $dark-color;
  padding: 10px;
  cursor: pointer;
}

.fa-bars {
  float: right;
}

// .page-icon {
//   text-align: center;
//   color: $tertiary-color;
//   font-size: 9em;
// }
