.fa {
  font-size: 30px !important;
  color: $dark-color;
  padding: 10px;
  cursor: pointer;

  &:hover {
    color: $light-color;
  }
}

header a {
  border-bottom: none;
}

.fa-bars {
  float: right;
}

.page-icon {
  display: none;
  width: auto;
  margin: 0 auto;
  // transform: rotate(-35deg);
  padding: 10px;
}
